<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Assignments.Validation_Assert_Soft_Ass17"/>
      <class name="Assignments.TestSuite_Ass18"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
